<%= form_with model: form, method: method do |f|%>
    <%= f.email_field :email%>
    <%= f.text_field :name%>
    <%= f.text_field :phone%>
    <%= f.text_field :issue%>
    <%= f.text_area :message%>
    <%= f.submit "Enviar"%>
<% end %>