<% @forms.each do |form|%>
    <p>id: <%= form.id%>,nome: <%= form.name%>,email: <%= form.email%>, assunto: <%= form.issue%>,mensagem<%= form.message%></p>
    <%= link_to  "clique", form_path(id: form.id) %>|<%= link_to  "Apagar", form_delete_path(id: form.id), method: :delete %>|<%= link_to  "Editar", edit_form_path(id: form.id) %>
<% end %>